:root {
  --font-primary: var(--font-manrope);
  --color-dimmed: #364153;
  --red-primary: #e7000b;
  --shadow-primary: 0 10px 50px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mantine-color-body) !important;
  color: #000 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary) !important;
}

h1 {
  font-size: 2.5rem !important;
  font-weight: 900 !important;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1.8rem !important;
  }
}

h1.title-sm {
  font-size: 1.5rem !important;
  font-weight: 900 !important;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1.25rem !important;
  }
}

h2 {
  font-size: 2rem !important;
  font-weight: 700 !important;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1.5rem !important;
  }
}

h2.title-sm {
  font-size: 1.4rem !important;
  font-weight: 700 !important;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1.2rem !important;
  }
}

h3 {
  font-size: 1.75rem !important;
  font-weight: 600 !important;
}

h3.title-sm {
  font-size: 1.2rem !important;
  font-weight: 700 !important;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1rem !important;
  }
}

h4 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

h5 {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
}

h6 {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.red-primary {
  color: var(--red-primary) !important;
}

.dimmed {
  color: var(--color-dimmed) !important;
}

.shadow-primary {
  box-shadow: var(--shadow-primary) !important;
}
